/* Réinitialisation des styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Rest of your existing CSS styles for the elements within the body */


/* Add styles for your sections, footer, etc. */


header {
    background-color: #f5f5f5;
    padding: 20px;
    /*background-image: "family.jpg";*/
   
}
header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
   
    text-align: center; /* For horizontal alignment */
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
